@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;

  --color-brand-50: #f5f7ff;
  --color-brand-100: #edf0ff;
  --color-brand-200: #dee3ff;
  --color-brand-300: #c3cbff;
  --color-brand-400: #9fa9ff;
  --color-brand-500: #5d46f1;
  --color-brand-600: #472ed4;
  --color-brand-700: #3a28ab;
  --color-brand-800: #332887;
  --color-brand-900: #2a2170;
  --color-brand-950: #1f184e;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
